body{
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: center;    
}

main{
    margin-top: 5rem;
}
input{
    width: 16rem;
    padding: 0.5rem;
    display: block;
}

button{
    width: 5rem;
    padding: 0.3rem 0.3rem ;
    margin-top: 1rem; 
    position: relative;
    left: 6rem;
    
}